:root {
    --kinovar: rgb(204,8,3);
}

body {
    color: black !important;
    background-color: white;
    font-family: 'Ponomar Unicode' !important;
}

wide {
    letter-spacing: 0.1rem;
}

bukvitsa {
    height: 3rem;
    padding-right: 0.25rem;
    font-family: 'Indiction Unicode';
    font-size: 300%;
    float: left;
    color: var(--kinovar);
    margin-top: -0.4rem;
}

red, redbukva, kinovar {
    display: inline;
    font-style: normal;
    color: var(--kinovar);
}
