:root {
    --kinovar: rgb(204,8,3);
}

body {
    color: black !important;
    background-color: white;
    font-family: 'Ponomar Unicode' !important;
}

wide {
    font-size: 130%;
    font-weight: normal;
    display: inline-block;
    transform: scaleY(0.77);
}

red, redbukva, kinovar {
    display: inline;
    font-style: normal;
    color: var(--kinovar);
}
